/* @font-face {
    src: url(fonts/kinetika-medium.ttf);
    font-family: 'kinetika-medium';
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'kinetika-medium'; */
    scroll-behavior: smooth;
}